<%= render 'navigation' %>

<div class="container">
  <div class="content-container clearfix">
    <h1 class="content-title">Compose</h1>
    <div class="col-md-12">
      <%= form_for @message do |f| %>
        <% if current_user.type == "Client" %>
          <div class="form-group">
            <%= f.collection_select :receiver_id, Provider.order(:first_name), :id, :name_and_email, :prompt => "Choose Your Therapist" %>
          </div>
        <% else %>
          <% if @receiver == nil%>
            <div class="form-group">
              <%= f.text_field :receiver_id, class: "form-control", placeholder: "Clients email" %>
          <% else %>
            <div class="form-group">
              <%= f.text_field :receiver_id, class: "form-control", value: @receiver %>
          <% end %>
        </div>
        <% end %>
        <div class="form-group">
          <%= f.text_field :subject, class: "form-control", placeholder: "Subject" %>
        </div>
          <%= f.text_area :body, class: "form-control", placeholder: "Message" %>
          <%= f.hidden_field :sender_id, value: current_user.id %>
        <div class="btn-send">
          <%= f.submit :Send, class: "btn btn-danger btn-lg" %>
        </div>
      <% end %>
    </div>
  </div>
</div>