<%= render 'navigation' %>

<div class="container">
  <div class="content-container clearfix">
    <h1 class="content-title">Pick Your Therapist</h1>
    <!-- <input type="search" placeholder="Search by name" class="form-control mail-search" /> -->
    <%= form_tag providers_messages_path, method: :get do %>
        <p>
          <%= text_field_tag :query, params[:query], type:"search", class: "form-control mail-search", placeholder: "Search for your therapist" %>
          <%= submit_tag "Search", name: nil, class: "hide-btn" %>
        </p>
      <% end %>
    <div class="col-md-12">
      <ul class="mail-list">
        <% @therapists.each do |t| %>
          <li>
            <a href="<%= new_message_path(receiver_id: t.id) %>">
              <span class="mail-sender"><%= name_and_email(t) %></span>
            </a>
          </li>
        <% end %>
      </ul>
    </div>

  </div>
</div>